# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/

# VSCode settings
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
wheels/
*.egg-info
.installed.cfg
*.egg
lib/
lib64/
scripts/
pip-wheel-metadata/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# FastAPI logs
logs/
*.log

# dotenv environment variables
.env

# SQLite database
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Cache
cache/
*.cache